
.icon-facebook-circled:before { content: '\e800'; } /* '' */
.icon-pinterest-circled:before { content: '\e801'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
